:root {
    --main-dark-color: #171819;
    --main-text-color: #48555B;
    --extra-color: #00A4E5;
    --line-color: #E6E6E6;
    --header-font: Bebas Neue;
    --main-font: Open Sans;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    cursor: pointer;
    color: var(--extra-color);    
}

h2, h3, h4, a, p {
    color:var(--main-text-color);
    font-family: var(--main-font);
    font-weight: 600;
}

p {
    font-weight: 400;
}

h4  {
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-family: var(--header-font);
    letter-spacing: 5.709px;
    font-weight: 400;
    font-size: 60px;
}

h2 {
    color: #48555B;
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    max-width: 350px;
    margin: 0 auto;
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}

.capabilities-top-left>h4:hover ~ .small-line {
    transform: translateX(100px);
    transition: transform 0.5s ease-in-out;
}

.capabilities-top-left>.small-line {
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}

.story-top>h4:hover ~ .small-line {
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out;
}

.story-top>.small-line {
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}


button {
    background-color: var(--extra-color);
    border: unset;
    height: 40px;  
    width: 150px;
}

button:hover {
    background-color: #FFF;
    color: var(--extra-color);
}

button:hover p {
    color: var(--extra-color);
}

.footer-top-input>button:hover {
    background-color: var(--main-dark-color);
    border: 0.1px solid #FFF;
    border-radius: 3px;
}


button>p {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
}


button:hover {
    cursor: pointer;
}

span {
    color: var(--extra-color);
}

.small-line {
    width: 50px;
    height: 2px;
    background-color: var(--extra-color);
}

.focus {
    color: var(--extra-color);
}

.above-header__container {
    margin: 0 auto;
    background-image: url(../img/header-background.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 769px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1438px;
    width: 100%;
}

.above-header__container>.logo {
    margin-top: 41px;
}

.above-header__container>h1 {
    margin-top: 317px;
    text-align: center;
}

.above-header__container>p {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.above-header__container>p.smaller {
    text-align: center;
    color: #fff;
    margin-top: 221px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3.7px;
}


.logo {
}

.header__container {
    padding: 0 250px 0 251px;
    width: 100%;
    max-width: 1442px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 65px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1;
}
.menu {
    max-width: 408px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
}

.story__container {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
}

.story-top>.small-line {
    margin: 0 auto;
    margin-top: 10px;
}

.story-top>h4 {
    text-align: center;
    margin-top: 57px;
}

.story__line {
}
.story-main {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.story-text__block {
    max-width: 405.076px;   
    width: 100%;
}

.story-text__block>p {
    margin-top: 30px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.188px;
}

.story-text__block>p.bigger {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
}

.story-pic__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    max-width: 460px;
    width: 100%;
}
.story-pic-item {
    background-repeat: no-repeat;    
    max-width: 140px;
    width: 100%;
    height: 225px;
    padding: 14px 0 0 15px;
}


.story-pic-item>p {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
    text-transform: uppercase;
}

.item1 {
    background-image: url(../img/our-story1.png);
}

.item2 {
    background-image: url(../img/our-story2.png);
}

.item3 {
    background-image: url(../img/our-story3.png);
}

.capabilities__container {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.capabilities-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 940px;
    width: 100%;
}

.capabilities-top-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
    -ms-flex-direction: column;    
    flex-direction: column;    
}

.capabilities-top-left>.small-line {
    margin-top: 10px;
}

.capabilities-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 607px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.capabilities-text>p {
    font-size: 11px;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405.404px;
}

.capabilities-main {

}

.capabilities-main-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 78px;
    display: flex;
    gap: 27px;
}    

.card-item__container {
    padding: 38px 0 0 23px;
    width: 295px;
}

.card-item__container>img {
    transform: rotate3d(0, 0, 0, 3.142rad);
    transition: transform 0.7s ease-in-out;
}

.card-item__container>img:hover {
    transform: rotate3d(0, 1, 0, 3.142rad);
    transition: transform 0.7s ease-in-out;
}

.card-item__container>p {
    margin-top: 13px;
    width: 250px;
}


.card-item__container>.darker {
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.427px;
}

.capabilities-main-cards_item {
    border: 1px solid var(--line-color);
    background: #FFF;    
    height: 330px;
}
.prefooter__container {
    margin: 0 auto;
    background-image: url(../img/prefooter-background.png);
    margin-top: 115px;
    height: 498.24px;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 35px;
    max-width: 1440px;
    width: 100%;    
}

.prefooter__container>button {
    margin: 0 auto;
}
.footer__container {
    background-color: var(--main-dark-color);
    margin: 0 auto;
    max-width: 1440px;    
    min-height: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.footer-top {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
    max-width: 685px;
    width: 100%;
    min-height: 100px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-top-input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    z-index: 2;
}

.footer-top-input>input {
    width: 250px;
    height: 40px;
    font-family: inherit;
    padding-left: 16px;
    opacity: 30%;
}



.footer-top-input>label {
    color: var(--main-text-color);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    position: absolute;
    left: 15px;
    top: 11px;
    z-index: -1;
}

.footer-top-input>input {
    color: var(--main-dark-color);
}

.footer-top-input>input:focus {
    padding-left: 16px; 
    font-family: Open Sans;
}

.footer-top-input input:not(:-moz-placeholder-shown) {
    font-family: Open Sans;
  }

.footer-top-input input:not(:placeholder-shown) {
    font-family: Open Sans;
}


.footer-top-input input:not(:-moz-placeholder-shown) ~ label {
    color: transparent;
  }

  .footer-top-input input:not(:placeholder-shown) ~ label {
    color: transparent;
  }

.footer-top-input>input:focus ~ label {
    color: transparent;
}


.footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1440px;
    width: 100%;
    min-height: 240px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 17.3%;
    padding-right: 19.167%;

}


.footer-main-company {
 /*   margin-left: 17.3%;    
    margin-right: 19.167%;*/
}

.footer-main-company>p {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.846px;
}

.company-main {
    max-width: 250px;
    width: 100%;
}

.footer-main>div>p {
    color: #fff;
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.846px;    
    text-transform: uppercase;
}

.company-main>.logo {
    margin-top: 19px;
}

.company-main>p {
    color: #FFF;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    margin-top: 15px;
}

.footer-main-links {
    margin-left: 71px;
}
.links-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;   
    width: 262px;
    margin-top: 10px;  
}
.links-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.links-row>a {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.846px;
}

.links-row>a:hover {
    color: var(--extra-color);
}

.footer-main-contacts {
    width: 141px;
    margin-left: 58px;
}

.footer-main-contacts>p {
    color: #FFF;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846px;
    margin-top: 15px;
}

.footer-main-contacts>p:last-of-type {
    text-transform: none;    
}

.footer-main-contacts>p.bigger {
    margin: 0;
    text-transform: uppercase;    
    font-size: 11px;
    letter-spacing: 0.846px;
    line-height: normal;
}

.footer-icons__block {
    margin-left: 46.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 87px;
    gap: 24.75px;
    margin-top: 30px;
}

.footer-icons__block>a>img {
    width: 12.04px;
    height: 12.04px;
}
.footer-bottom {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;

}

.footer-bottom>p {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.846px;
}


@media (max-width: 1306px) {
    .story-main {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 10px;
    }

}

@media (max-width: 1100px) {
    .footer-top {
        padding: 0 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px 0;
        gap: 15px;
    }
    .above-header__container {
        padding-bottom: 71px;
    }
    .footer-main {
        gap: 20px;
        padding: 0;
        margin: 0 auto;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .links-main {
        width: 100%;
        gap: 10px;
    }

    .capabilities-top {
        padding: 0 20px;
    }

    .footer-main-links {
        margin-left: 0;
    }

    .footer-main-contacts {
        margin-left: 0;
    }

    .header__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 5px 100px 0 100px;
        gap: 10px;
    }
    .capabilities-main-cards {
        gap: 5px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .line {
        margin-top: 5px;
    }
    .story-pic__block {
        margin-top: 15px;
    }
    .footer-main {
        padding: 0 20px;
    }
}


@media (max-width: 650px) {
    .story-pic__block {
        gap: 0;
    }
    .story-main {
        width: 100%;
    }
    .story-pic__block {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .story-pic-item>p {
        text-align: center;

    }
    .footer-main {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .logo>img {
        margin: 0 auto;
        width: 50px;
    }
    .above-header__container>p.smaller {
        margin-top: 200px;
    }
    .header__container {
        padding: 0;
        width: 100%;
    }
    .menu {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .capabilities-top {
        gap: 10px;
    }
    .capabilities-text>button {
        margin-left: 10px;
    }
    .footer-main {
        padding: 0 20px;
        gap: 15px;
    }
    .story-text__block {
        padding: 0 20px;
    }
}

@media (max-width: 650px) {
    .header__container {
        margin-top: 10px;
    }
    .story-pic__block {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }
    .story-pic-item {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; 
        max-width: none;   
        width: 140px;
        padding: 0;
    }
    .story-pic-item>p {
        font-size: 18px;
    }
    .capabilities-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .footer-top-input>input {
        width: 200px;
    }
    .footer-top-input>button {
        width: 80px;
    }
    .card-item__container {
        width: 280px;
        padding: 15px 10px;
    }
    .menu {
        gap: 10px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-icons__block {
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .header__container {
        position: static;
    }
}